[
    {config, [
        #{
            files => ["src/**/*.erl"],
            ruleset => erl_files_strict,
            rules => [
                {elvis_style, dont_repeat_yourself, disable},
                {elvis_style, atom_naming_convention, #{
                    regex => "^[a-z][a-z_@0-9]*(_SUITE)?$|^syntaxTree$"
                }},
                {elvis_style, function_naming_convention, #{
                    regex => "^[a-z][a-z_0-9]*$"
                }},
                {elvis_style, no_macros, disable},
                {elvis_style, max_function_length, disable},
                {elvis_style, max_function_clause_length, disable},
                {elvis_style, no_throw, disable},
                {elvis_style, prefer_strict_generators, disable},
                {elvis_style, no_invalid_dynamic_calls, disable},
                {elvis_style, max_module_length, disable},
                {elvis_style, no_deep_nesting, disable},
                {elvis_style, state_record_and_type, disable},
                {elvis_style, private_data_types, disable},
                {elvis_style, prefer_sigils, disable}
            ]
        },
        #{
            files => ["test/**/*.erl"],
            ruleset => erl_files_strict,
            rules => [
                {elvis_style, dont_repeat_yourself, disable},
                {elvis_style, atom_naming_convention, #{
                    regex => "^[a-z][a-z_@0-9]*(_SUITE)?$"
                }},
                {elvis_style, function_naming_convention, #{
                    regex => "^[a-z][a-z_0-9]*(_SUITE)?$"
                }},
                {elvis_style, no_macros, disable},
                {elvis_style, max_function_length, disable},
                {elvis_style, max_function_clause_length, disable},
                {elvis_style, no_throw, disable},
                {elvis_style, prefer_strict_generators, disable},
                {elvis_style, no_invalid_dynamic_calls, disable},
                {elvis_style, max_module_length, disable},
                {elvis_style, no_deep_nesting, disable},
                {elvis_style, state_record_and_type, disable},
                {elvis_style, private_data_types, disable},
                {elvis_style, no_boolean_in_comparison, disable},
                {elvis_style, no_common_caveats_call, disable},
                {elvis_style, no_block_expressions, disable},
                {elvis_style, export_used_types, disable},
                {elvis_style, no_init_lists, disable},
                {elvis_style, prefer_sigils, disable},
                {elvis_style, abc_size, disable},
                {elvis_style, prefer_robot_butt, disable},
                {elvis_style, no_god_modules, disable}
            ]
        },
        #{
            files => ["rebar.config"],
            ruleset => rebar_config,
            rules => [
                % Fixes "dependency 'eqwalizer_support' uses a branch"
                {elvis_project, no_branch_deps, disable}
            ]
        }
    ]}
].
