{minimum_otp_vsn, "27"}.

{erl_first_files, [
    "src/arizona_token.erl",
    "src/arizona_scanner.erl",
    "src/arizona_parser.erl"
]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_missing_spec
]}.

{deps, [
    {eqwalizer_support,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
            "eqwalizer_support"}},
    {cowboy, "2.13.0"},
    {fs, "11.4.1"}
]}.

% See https://github.com/ninenines/cowboy/issues/1670
{overrides, [{override, cowboy, [{deps, [{cowlib, "~> 2.0"}, {ranch, "~> 2.0"}]}]}]}.

{dialyzer, [
    {plt_apps, all_deps},
    {plt_extra_apps, [
        compiler,
        common_test,
        eunit,
        inets,
        syntax_tools
    ]},
    {warnings, [
        unknown,
        unmatched_returns
    ]},
    incremental
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        lint,
        hank,
        xref,
        {do, "default as test dialyzer"}
    ]},
    {test, [
        {eunit, "--cover"},
        {ct, "--cover"},
        {cover, "--min_coverage 85 --verbose"},
        ex_doc
    ]},
    {ci, [
        check,
        {do, "default as test test"}
    ]}
]}.

{profiles, [
    {default, [
        {xref_checks, [
            exports_not_used
        ]}
    ]},
    {debug, [
        {erl_opts, [
            debug_info,
            nowarn_missing_spec,
            {d, 'DEBUG'},
            {d, 'TEST'}
        ]},
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {xref_checks, []}
    ]},
    {test, [
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {erl_opts, [
            debug_info,
            nowarn_missing_spec,
            warnings_as_errors
        ]},
        {deps, [
            % gun is required for WebSocket tests
            {gun, "2.2.0"}
        ]},
        {dialyzer, [
            {plt_apps, all_deps},
            {plt_extra_apps, [
                compiler,
                common_test,
                eunit,
                inets,
                syntax_tools,
                gun,
                fs
            ]},
            {warnings, [
                unknown,
                unmatched_returns
            ]},
            incremental
        ]},
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {xref_checks, []}
    ]}
]}.

{project_plugins, [
    {rebar3_hex, "7.0.11"},
    {erlfmt, "1.7.0"},
    {rebar3_lint, "4.1.1"},
    {rebar3_hank, "1.4.1"},
    {rebar3_ex_doc, "0.2.30"}
]}.

{shell, [
    {apps, [arizona]},
    {app_reload_blacklist, [ranch]}
]}.

{erlfmt, [
    write,
    {files, [
        "elvis.config",
        "rebar.config",
        "src/*.app.src",
        "src/**/*.erl",
        "test/**/*.erl"
    ]}
]}.

{ex_doc, [
    {extras, [
        "README.md",
        "SECURITY.md",
        "CODE_OF_CONDUCT.md",
        "CONTRIBUTING.md",
        "LICENSE.md",
        "CHANGELOG.md"
    ]},
    {main, "README.md"},
    {api_reference, false},
    {source_url, "https://github.com/arizona-framework/arizona"},
    {prefix_ref_vsn_with_v, false}
]}.

{hex, [{doc, #{provider => ex_doc}}]}.
