{erl_opts, [debug_info]}.

{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git",
             {tag, "2.12.0"}}},
    {gproc, {git, "https://github.com/uwiger/gproc.git",
            {tag, "0.9.1"}}},
    {fs, {git, "https://github.com/5HT/fs.git",
         {branch, "master"}}}
]}.

{dialyzer, [
    {plt_extra_apps, [cowboy]}
]}.

{shell, [{apps, [arizona]}]}.

