[{arizona, [
    {app, arizona_example},
    {server, #{
        adapter => arizona_server_adapter_cowboy,
        args => #{
            url => #{
                schema => http,
                ip => {127, 0, 0, 1},
                port => 8080
            }
        }
    }},
    {router, #{
        adapter => arizona_example_web_router,
        args => #{
            % nothing here yet!
        }
    }},
    {template, #{
        adapter => arizona_template_adapter_eel,
        args => #{
            % engine => @todo
        }
    }},
    {json, #{
        adapter => arizona_json_adapter_euneus,
        args => #{
            % nothing here yet!
        }
    }}
]}].
