{erl_opts, [debug_info]}.

{deps, [
    % Arizona deps

    {eel, { git
          , "https://github.com/williamthome/eel"
          , {branch, "spawnfest"}} },

    {euneus, "0.3.0"},

    % Arizona

    {arizona, { git
              , "https://github.com/spawnfest/arizona"
              , {branch, "main"}} }
]}.

{profiles, [
    {dev, [
        {deps, [
            % Hot code reloader. Used by the '$ make serve' command.
            {sync, ".*", { git
                         , "https://github.com/rustyio/sync.git"
                         , {branch, "master"}} }
        ]}
    ]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [arizona_example]}
]}.
