[{arizona, [
    {endpoint, #{
        routes => [
            {"/favicon.ico", cowboy_static, {priv_file, arzex, "static/favicon.ico"}},
            {"/robots.txt", cowboy_static, {priv_file, arzex, "static/robots.txt"}},
            {"/assets/[...]", cowboy_static, {priv_dir, arzex, "static/assets"}},
            {"/", arizona_live_handler, {arzex_live_counter, render, #{}}}
        ],
        live_reload => true
    }}
]}].

