---
name: Update priv/static/assets/js

"on":
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
  workflow_dispatch: {}
  merge_group:

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  branch:
    outputs:
      head_ref: ${{steps.branch.outputs.head_ref}}

    runs-on: ubuntu-24.04

    steps:
      - id: branch
        run: |
          head_ref=${GITHUB_HEAD_REF}
          echo "head_ref is ${head_ref}"
          echo "head_ref=${head_ref}" > "${GITHUB_OUTPUT}"

  update:
    name: Update priv/static/assets/js

    needs: [branch]

    if: endsWith(needs.branch.outputs.head_ref, 'package.json-deps')

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{vars.ARIZONA_BOT_APP_ID}}
          private-key: ${{secrets.ARIZONA_BOT_PRIVATE_KEY}}

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{steps.app-token.outputs.token}}
          ref: ${{needs.branch.outputs.head_ref}}

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .tool-versions
          cache: "npm"
          cache-dependency-path: "package-lock.json"

      - run: |
          npm ci
          if ! git diff --exit-code >/dev/null; then
              # there's stuff to push
              git config user.name "arizona[bot]"
              git config user.email "arizona_bot_@user.noreply.github.com"
              git add priv/static/assets/js/*
              git commit -m "[automation] update \`priv/static/assets/js\` after Renovate"
              git push
          fi
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
